 {% extends "car/base.html" %}


{% block content %}
  {%for discounts in coupon%}
 {% for car in car %}

    <em>You have successfully created a booking for this car. Here's your invoice.</em>
 <table >
        <tr>
          <th>User:  </th>
          <th>{{user.username}} </th>
        </tr>
        <tr>
          <th>Model:  </th>
          <th>{{ car.model }}</th>
        </tr>
        <tr>
          <th>From:  </th>
          <th>{{start_date}}</th>
        </tr>
        <tr>
          <th>To:  </th>
          <th>{{end_date}}</th>
        </tr>
        <tr>
          <th>Booking date:  </th>
          <th>{{dates}}</th>
        </tr>
        <tr>
          <th>Coupon id:  </th>
          <th>{{discounts.coupon_id}}</th>


        </tr>
        <tr>
          <th>Coupon discount:  </th>

          <th>{{discounts.discount}}</th>

        </tr>
        <tr>
          <th>Total amount:  </th>
          <th>{{total_amount}}</th>
        </tr>
        <tr>
            <th>Amount Paid:</th>
            <th>{{amount_paid}}</th>
        </tr>
        <tr>
          <th>Last payment date:  </th>
          <th>{{end_date}}</th>
        </tr>
{%endfor%}{%endfor%}


{% endblock %}