<!DOCTYPE html>
{% extends "car/base.html" %}
{% block content %}
<h1>User Profile</h1>
    <form   action="{% url 'profile'%}" name='edit'>
    <table >
        <tr>
          <th>Username:  </th>
          <th>{{info.username}} </th>
        </tr>
        <tr>
          <th>First Name:  </th>
          <th>{{info.fname}} </th>
        </tr>
        <tr>
          <th>Last Name:  </th>
          <th>{{ info.lname }}</th>
        </tr>
        <tr>
          <th>Address </th>
          <th>{{info.street}}, {{info.city}}, {{info.state}}, {{info.zipcode}}</th>
        </tr>
        <tr>
            <th>Phone Number:</th>
            <th>{{info.phone_number}}</th>
        </tr>
        {% if info.type %}
        <tr>
          <th>Corporation </th>
          <th>{{info.corporation}}</th>
        </tr>
        {% endif %}
    </table>
        <input type="submit" value="Submit">
        {% endblock %}
