<!DOCTYPE html>


{% extends "car/base.html" %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}

<h1><center>Rent Car</center></h1>
  {% comment %} <div>
    {% for carlist in my_locations %}
      <div >
        <a href="{% url 'carlist' carlist.id  %}">
            <div >
                <img src= "{% static 'car/images/bmw-i8.jpg' %}" alt="Uh Oh,didn't show!">
            </div>
            <div >
              <h2>{{ carlist.name }}
              <br>
              <span>{{ carlist.no_of_car }}</span>
            </h2>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
   {% endcomment %}
  
  <h2>Search</h2>
  <form action="{% url 'search_results'%}"  name='q'>
    <td> Pick-up location: </td>
    <tr>
      <select value='Brooklyn' name='location'>
        {% for location in my_locations%}
        <option value={{location.offices_id}}>{{location.city}} </option>
        {% endfor %}
      </select>
    </tr>
    </br>
    <td> Drop-off location: </td>
    <tr>
      <select value='Brooklyn' name='location2'>
        {% for location in my_locations%}
        <option value={{location.offices_id}}>{{location.city}} </option>
        {% endfor %}
      </select>
    </tr>
    </br>
    <tr>
      <td> From: </td>
      {% comment %} <td> <input name="w" type="text" placeholder="Search..."> </td> {% endcomment %}
      <input name="start" type="date" id="start"
       value={{dates.today}}
       min={{dates.today}} max="2022-12-31">
    </tr>
    </br>
    <tr>
      <td> To: </td>
      <input name="end" type="date" id="end"
       value={{dates.tomorrow}}
       min={{dates.tomorrow}} max="2022-12-31">
    </tr>
    </br>
    <input type="submit" value="Search">
    {{ user.name }}

  </form>


{% endblock %}
