 {% extends "car/base.html" %}


{% block content %}
 {%for discounts in coupon%}
 {% for car in car %}
{% comment %} {% for rent in rent %} {% endcomment %}

    <em>You have successfully created a booking for this car. Please find details below.</em>
<form name='invoices'action="{% url 'payment' %}" >
    <table >
        <tr>
          <th>User:  </th>
          <th>{{user.username}} </th>
        </tr>
        <tr>
          <th>Model:  </th>
          <th>{{ car.model }}</th>
        </tr>
        <tr>
          <th>From:  </th>
          <th>{{start_date}}</th>
        </tr>
        <tr>
          <th>To:  </th>
          <th>{{end_date}}</th>
        </tr>
        <tr>
          <th>Booking date:  </th>
          <th>{{dates.today}}</th>
        </tr> 
        <tr>
          <th>Coupon id:  </th>
          <th>{{discounts.coupon_id}}</th>
         

        </tr>
        <tr>
          <th>Coupon discount:  </th>
         
          <th>{{discounts.discount}}</th>

        </tr>
        <tr>
          <th>Total amount:  </th>
          <th>{{total_amount}}</th>
        </tr>
        <tr>
          <th>Last payment date:  </th>
          <th>{{end_date}}</th>
        </tr>

        
        
    </table>

    <input type="submit"  value="Make Payment" />
    {%endfor%} {%endfor%}
    
    

{% endblock %} 