{% extends "car/base.html" %}

{% block content %}
{% for car in car %}
{% for rent in rent %}
<h1>Booking Car_id  {{ car.vehicle_id }}</h1>
<form name='invoices'action="{% url 'invoices' %}" >
    <table >
        <tr>
          <th>User:  </th>
          <th>{{user.username}} </th>
        </tr>
        <tr>
          <th>Vehicle_id:  </th>
          <th>{{ car.vehicle_id }}</th>
        </tr>
        <tr>
          <th>Booking date:  </th>
          <th>{{dates.today}}</th>
        </tr> 
        <tr>
          <th>rate/day:  </th>
          <th>{{rent.rent_charge}}</th>
        </tr>
        
    </table> 
    {% endfor %}{% endfor %}
    <input name="coupon" type="text" placeholder="input coupun id...">

    </br>
    <input type="submit"  value="Create Booking" />
</form>

{% endblock %} 