{% extends "car/base.html" %}

{% block content %}
{% for car in car %}
{% for rent in rent %}
{% for location in location %}
{% for location2 in location2 %}


<h1>Booking Information</h1>
<form name='invoices'action="{% url 'invoices' %}" >
    <table >
        <tr>
          <th>User:  </th>
          <th>{{user.username}} </th>
        </tr>
        <tr>
          <th>Vehicle_id:  </th>
          <th>{{ car.vehicle_id }}</th>
        </tr>
        <tr>
          <th>Booking date:  </th>
          <th>{{dates.today}}</th>
        </tr> 
        <tr>
          <th>Pick-up location: </th>
          <th>{{location.address}}<span>,</span></th>
          <th>{{location.city}}<span>,</span></th>
          <th>{{location.state}}</th>
        </tr>
        <tr>
          <th> Return location: </th>
          <th>{{location2.address}}<span>,</span></th>
          <th>{{location2.city}}<span>,</span></th>
          <th>{{location2.state}}</th>
        </tr>
        <tr>
          <th>rate/day:   </th>
          <th>{{rent.rent_charge}}</th>
        </tr>
        <tr>
          <th>From:  </th>
          <th>{{start_date}}</th>
        </tr>
        <tr>
          <th>To:  </th>
          <th>{{end_date}}</th>
        </tr>
        
    </table> 
    {% endfor %}{% endfor %}{% endfor %}{% endfor %}
    
    <input name="coupon" type="text" placeholder="Enter coupon id...">

    </br>
    <input type="submit"  value="Create Booking" />
</form>

{% endblock %} 